In [1]:
import sqlite3 #옆에 1이라고 나오면 되는것. 파이썬은 sqlite를 내장하고있음

In [8]:
def create_table():
    conn=sqlite3.connect('my_book.db') #커넥션
    cursor=conn.cursor() #커서 생성
    sql=""" create table if not exists books(
    title text,
    publisher text,
    pages integer,
    recommend integer)"""
    cursor.execute(sql)
    conn.commit()
    conn.close()

In [9]:
create_table()

In [25]:
def insert_books(book):
    conn=sqlite3.connect('my_book.db') #커넥션
    cursor=conn.cursor() #커서 생성
    #sql="insert into books values('java','길벗',500,1)"
    sql="insert into books values(?,?,?,?)"
    #book=('python','한빛',600,1)
    cursor.execute(sql,book)
    conn.commit()
    conn.close()

In [26]:
book=('mongodb','한빛',650,1)
insert_books(book)

In [28]:
def insert_many_books(books):  #여러개 추가 - 튜블을 리스트로 만들어 추가?
    conn=sqlite3.connect('my_book.db') #커넥션
    cursor=conn.cursor() #커서 생성
    #sql="insert into books values('java','길벗',500,1)"
    sql="insert into books values(?,?,?,?)"
    #book=('python','한빛',600,1)
    cursor.executemany(sql,books)
    conn.commit()
    conn.close()

In [30]:
books=[('빅데이터','영진',600,2),
       ('안드로이드','이지스퍼블리싱',500,3),
       ('스프링','생능',650,1)]
insert_many_books(books)

In [15]:
def all_books():
    conn=sqlite3.connect('my_book.db')
    cursor=conn.cursor()
    sql="select * from books"
    cursor.execute(sql)
    books=cursor.fetchall() #?
    print(books)
    print(len(books))
    
    for book in books:
        print(book)
    conn.close()

In [34]:
all_books()

[('python', '한빛', 600, 1), ('mongodb', '한빛', 650, 1), ('빅데이터', '영진', 600, 2), ('안드로이드', '이지스퍼블리싱', 500, 3), ('스프링', '생능', 650, 1)]
5
('python', '한빛', 600, 1)
('mongodb', '한빛', 650, 1)
('빅데이터', '영진', 600, 2)
('안드로이드', '이지스퍼블리싱', 500, 3)
('스프링', '생능', 650, 1)

In [32]:
def delete_book():
    conn=sqlite3.connect('my_book.db') #커넥션
    cursor=conn.cursor() #커서 생성
    #sql="insert into books values('java','길벗',500,1)"
    sql="delete from books where title=?"
    #book=('python','한빛',600,1)
    cursor.execute(sql,('java',)) #여러개지우려면 executemany
    conn.commit()
    conn.close()

In [33]:
delete_book()